## Build output
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Environment
.env

## Visual Studio
.vs/
*.rsuser

## NuGet
packages/
*.nupkg

## JetBrains Rider
.idea/

## OS
Thumbs.db
Desktop.ini
.DS_Store
